div #rightt{
    float: left;
    width: 22%;
	margin-left: 70%
}
#wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
#main {
    float: center;
	width: 199px;
	margin-left: 22%
	
}
div #leftt{
    float: left;
    width: 22%;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
img{
    width: 200px;
}
